<p>Hello gays kali ini saya akan share bagaimana menyimpan hasil pengetikan kita di CK Editor dan mengirimnya ke server dengan ajax.</p>

<p>Oke sebelumnya saya sudah mencoba membuat tombol untuk menyimpan nya akan tetapi kalau dilihat lihat ternyata CK editor menyediakan tombol save sendiri hmm disini saya tertarik untuk membuat tombol save itu berfungsi sebagai mana mestinya dan kita tidak usah membuat tombol save lagi, dan memmang saya mencari di dokumentasinya tidak menemukan tutorial untuk menggunakan tombol save itu, dan kebetulan saya mendapat di Stackoverflow. oke langsung saja tanpa basa basi:</p>

<p>ini adalah scriptnya ya sob;</p>

<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">
<p>&lt;!DOCTYPE html&gt;<br />
&lt;!--<br />
Copyright (c) 2003-2020, CKSource - Frederico Knabben. All rights reserved.<br />
For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license<br />
--&gt;<br />
&lt;html lang=&quot;en&quot;&gt;<br />
&lt;head&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;meta charset=&quot;utf-8&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;title&gt;CKEditor Sample&lt;/title&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;script src=&quot;adapters/jquery.min.js&quot;&gt;&lt;/script&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;script src=&quot;ckeditor.js&quot;&gt;&lt;/script&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;script src=&quot;adapters/jquery.js&quot;&gt;&lt;/script&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;!-- &lt;script src=&quot;sample/js/sample.js&quot;&gt;&lt;/script&gt; --&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;link rel=&quot;stylesheet&quot; href=&quot;samples/css/samples.css&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;link rel=&quot;stylesheet&quot; href=&quot;samples/toolbarconfigurator/lib/codemirror/neo.css&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,initial-scale=1&quot;&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;meta name=&quot;description&quot; content=&quot;Try the latest sample of CKEditor 4 and learn more about customizing your WYSIWYG editor with endless possibilities.&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;<br />
&lt;/head&gt;<br />
&lt;body id=&quot;main&quot;&gt;</p>

<p>&nbsp;</p>

<p>&lt;main&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;div class=&quot;adjoined-top&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;div class=&quot;grid-container&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;div class=&quot;content grid-width-100&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;/div&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;/div&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;/div&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;div class=&quot;adjoined-bottom&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;div class=&quot;grid-container&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;div class=&quot;grid-width-100&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;form&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;textarea name=&quot;editor&quot; id=&quot;editor&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/textarea&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;button type=&quot;button&quot; id=&quot;simpan&quot;&gt; SImpan &lt;/button&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;/form&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;/div&gt;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&lt;/div&gt;<br />
&nbsp;&nbsp; &nbsp;&lt;/div&gt;</p>

<p>&nbsp;&nbsp; &nbsp;</p>

<p>&nbsp;&nbsp; &nbsp;&lt;script type=&quot;text/javascript&quot;&gt;<br />
&nbsp;&nbsp; &nbsp;CKEDITOR.replace(&#39;editor&#39;, {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;uiColor: &#39;#555555&#39;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;//language: &#39;id&#39;, // id, es, en, dll<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;width: &#39;100%&#39;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;height: 400,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;toolbar: [<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;document&#39;, groups: [ &#39;mode&#39;, &#39;document&#39;, &#39;doctools&#39; ], items: [ &#39;Source&#39;, &#39;-&#39;, &#39;Save&#39;, &#39;NewPage&#39;, &#39;Preview&#39;, &#39;Print&#39;, &#39;-&#39;, &#39;Templates&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;clipboard&#39;, groups: [ &#39;clipboard&#39;, &#39;undo&#39; ], items: [ &#39;Cut&#39;, &#39;Copy&#39;, &#39;Paste&#39;, &#39;PasteText&#39;, &#39;PasteFromWord&#39;, &#39;-&#39;, &#39;Undo&#39;, &#39;Redo&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;editing&#39;, groups: [ &#39;find&#39;, &#39;selection&#39;, &#39;spellchecker&#39; ], items: [ &#39;Find&#39;, &#39;Replace&#39;, &#39;-&#39;, &#39;SelectAll&#39;, &#39;-&#39;, &#39;Scayt&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;forms&#39;, items: [ &#39;Form&#39;, &#39;Checkbox&#39;, &#39;Radio&#39;, &#39;TextField&#39;, &#39;Textarea&#39;, &#39;Select&#39;, &#39;Button&#39;, &#39;ImageButton&#39;, &#39;HiddenField&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&#39;/&#39;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;basicstyles&#39;, groups: [ &#39;basicstyles&#39;, &#39;cleanup&#39; ], items: [ &#39;Bold&#39;, &#39;Italic&#39;, &#39;Underline&#39;, &#39;Strike&#39;, &#39;Subscript&#39;, &#39;Superscript&#39;, &#39;-&#39;, &#39;CopyFormatting&#39;, &#39;RemoveFormat&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;paragraph&#39;, groups: [ &#39;list&#39;, &#39;indent&#39;, &#39;blocks&#39;, &#39;align&#39;, &#39;bidi&#39; ], items: [ &#39;NumberedList&#39;, &#39;BulletedList&#39;, &#39;-&#39;, &#39;Outdent&#39;, &#39;Indent&#39;, &#39;-&#39;, &#39;Blockquote&#39;, &#39;CreateDiv&#39;, &#39;-&#39;, &#39;JustifyLeft&#39;, &#39;JustifyCenter&#39;, &#39;JustifyRight&#39;, &#39;JustifyBlock&#39;, &#39;-&#39;, &#39;BidiLtr&#39;, &#39;BidiRtl&#39;, &#39;Language&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;links&#39;, items: [ &#39;Link&#39;, &#39;Unlink&#39;, &#39;Anchor&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;insert&#39;, items: [ &#39;Image&#39;, &#39;Flash&#39;, &#39;Table&#39;, &#39;HorizontalRule&#39;, &#39;Smiley&#39;, &#39;SpecialChar&#39;, &#39;PageBreak&#39;, &#39;Iframe&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&#39;/&#39;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;styles&#39;, items: [ &#39;Styles&#39;, &#39;Format&#39;, &#39;Font&#39;, &#39;FontSize&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;colors&#39;, items: [ &#39;TextColor&#39;, &#39;BGColor&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;tools&#39;, items: [ &#39;Maximize&#39;, &#39;ShowBlocks&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;others&#39;, items: [ &#39;-&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;{ name: &#39;about&#39;, items: [ &#39;About&#39; ] },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
&nbsp;&nbsp;&nbsp; });</p>

<p>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;$(document).on(&#39;click&#39;, &#39;#simpan&#39;, function() {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;var filename = prompt(&quot;Nama file&quot;);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; var isi_berita = CKEDITOR.instances[&#39;editor&#39;].getData();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; $.ajax({<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; type: &quot;POST&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; url: &quot;save.php&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; data: {&#39;editor&#39;: isi_berita, &#39;filename&#39; : filename },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; success: function (data) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; alert(&quot;Berita berhasil disimpan.&quot;);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; });<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;});</p>

<p><br />
&nbsp;CKEDITOR.plugins.registered[&#39;save&#39;] = {<br />
&nbsp; init: function (editor) {<br />
&nbsp;&nbsp;&nbsp;&nbsp; var command = editor.addCommand(&#39;save&#39;,<br />
&nbsp;&nbsp;&nbsp;&nbsp; {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; modes: { wysiwyg: 1, source: 1 },<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; exec: function (editor) { // Add here custom function for the save button<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; //alert(&#39;You clicked the save button in CKEditor toolbar!&#39;);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;//console.log(editor.getData());<br />
&nbsp;&nbsp; &nbsp;var filename = prompt(&quot;Nama file&quot;);<br />
&nbsp;&nbsp; &nbsp; $.ajax({<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; type: &quot;POST&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; url: &quot;save.php&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; data: {&#39;editor&#39;: editor.getData(), &#39;filename&#39; : filename },<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; success: function (data) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; alert(&quot;Berita berhasil disimpan.&quot;);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; });<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br />
&nbsp;&nbsp;&nbsp;&nbsp; });<br />
&nbsp;&nbsp;&nbsp;&nbsp; editor.ui.addButton(&#39;Save&#39;, { label: &#39;Save&#39;, command: &#39;save&#39; });<br />
&nbsp; }</p>

<p>}</p>

<p>&lt;/script&gt;</p>

<p><br />
&lt;/body&gt;<br />
&lt;/html&gt;</p>
</div>

<p>nah itu saja silahkan sobat aplikasikan sesuai kebutuhan thankss..</p>